<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="/assets/css/custom.css">-->
    <title><%= title %></title>
</head>
<style>
    .background{
        background-color: greenyellow;
    }
    .table-wrapper {
        margin-top: 50px;
    }

    .player-img {
        width: 40px;
        height: 40px;
    }

    .add-player-form {
        margin-top: 50px;
    }
</style>
<body>
    <div class="background">
<div class="page-wrapper">
    <nav class="navbar navbar-light bg-dark">
        <span class="navbar-brand mb-0 h1" ><a href="/">Phuong Gymers</a></span>
        <!-- <div>
            <form class="d-flex" action="/" method="get">
                <input type="text" name="search" id="search">
                <input class="btn btn-primary" type="submit" value="Search">
            </form>
        </div> -->
        <div>
            <div class="background"></div><a class="mr-3" href="/logout" title="Logout">Logout</a>
            <a class="float-right" href="/add" title="Add a New Player">Add a Gymers</a>
        </div>
    </nav>
    </div>